body{
  background-color: #587e76;
    color: #FFEBCD;
    font-family: optima, veranda, sans-serif;
  margin: 10% 20%;
}

h1{
  text-align: center;
  font-size: 36px;
  color: #FFEBCD;
}

h4{
  margin-bottom: 0;
}
h5{
  margin: 0;
}
h6{
  margin: 0;
}

img{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #424b54;
  border-radius: 20px;
  background-color: rgba(0,0,0, 0.2)
}
.edu-header{
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #424b54;
  border-radius: 20px;
  background-color: rgba(0,0,0, 0.2) 
}

a:link {
  color: #ebcf9c;
}

a:visited {
  color: #f7c17a;
}

a:hover {
  color: #c5baaf;
}

.exp{
  padding-left: 20px;
}

ul{
  list-style-type: square;
}

.footer{
  margin: 20px   
}
